/* Colors Used:
white #FFFFFF;
Valhalla #241858;
Silver Chalice #aaaaaa;
Silver #cccccc;
Mine Shaft #333333;
Navajo White  #FFE1AA;
Whiskey #D4AF6A;
Hit Gray #9DA9AE;
Lavender Purple #877CB0; 
Abbey #4B4C4D;
*/


/*Media Styles:*/
@media (max-width:767px) {
  .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    display:none;
  }
}

@media (max-width:767px) {
  .simple-slider .swiper-slide {
    height:360px;
  }
}

@media (max-width:767px){
  .hidden-xs{
    display: none!important;
  }
}

@media (min-width:768px) and (max-width:991px){
  .hidden-sm{
    display: none!important;
  }

	.hidden-xs{
		display: none!important;
	}
}

@media (min-width:768px) and (max-width:991px){
	.hidden-sm{
		display: none!important;
	}
}

@media (max-width:767px) {
  .container {
    padding:10px;
  }
}

@media (max-width:767px) {
  .testimonials-clean h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

@media (min-width:768px) {
  .testimonials-clean .item {
    height:220px;
  }
}

/* CAROUSEL */

.carousel {
  margin-bottom:0px;
}

.carousel-caption {
  z-index: 1;
}
.carousel .item {
  height: 550px;
  background-color:rgba(212,175,106,0.14);;
}
.carousel img {
  position: center;
  top: 0;
  left: 0;
  min-height: 550px;
}

.overlay { 
  color:#fff;
  position:absolute;
  z-index:12;
  top:35%;
  left:0;
  width:100%;
  text-align:center;
}

  ..overlay h1 {
    margin-bottom: 20px;
    font-size: 53px;
    line-height: 1.4;
  }

  .overlay p {
    margin-bottom: 20px;
    font-size: 23px;
    line-height: 1.4;
  }


/* Menu: */
.navbar-default {
  background-image:linear-gradient(to bottom,#ffffff 0,#ffe1aa 100%); /* white to Navajo White Gradient */
  border-radius:1px;
  -webkit-box-shadow:inset 0 1px 0 rgba(0,0,0,0.0745098),0 1px 5px rgba(0,0,0,0.0745098);
  box-shadow:inset 0 1px 0 #aaaaaa,0 1px 5px #cccccc; /*Silver*/
}

/* Body: */
.container {
  padding:30px;
}

div.container-fluid {
  background-color:rgba(212,175,106,0.14);
}

body {
  font-family:'Open Sans';
  font-size:14px;
  line-height:1.42857143;
  color:#333333; /*Mine Shaft*/
  background-color:#fff; /*white*/
}

.h1, .h2, h1, h2 {
  margin-top:20px;
  margin-bottom:10px;
  font-family:'Playfair Display SC';
}

.h3, h3 {
  font-family:'Trocchi';
}

i {
  color:#d4af6a; /*Whiskey*/
}

a:focus, a:hover {
  color:#ffe1aa; /*Navajo White*/
  text-decoration:blink;
}

a {
  color:#ffffff; /*white*/
  text-decoration:none;
}

/* About */
.about {
  padding:50px 0;
}

/* Paralax: */
.paralax {
  height:300px;
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}

#first-banner.paralax {
  background-image:url("../../assets/img/background1.jpg");
}

#second-banner.paralax {
  background-image:url("../../assets/img/background2.jpg");
}

/* Work */
.work {
  padding:50px 0;
}

figcaption {
  text-align:center;
}

.video-wrapper {
  position:relative;
  padding-bottom:56.25%;
  padding-top:35px;
  height:0;
  overflow:hidden;
}

.video-wrapper iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

a#myWorkLink {
  color:#241858; /*Valhalla*/
}

a#myWorkLink:focus, a#myWorkLink:hover {
  color:#ffe1aa; /*Navajo White*/
  text-decoration:blink;
}

/*Testimonials: */
.testimonials-clean {
  color:#333333; /*Mine Shaft*/
  background-color:#ffffff; /*white*/
  border-color:#877CB0; /*Lavender Purple*/
  border-left:inherit;
  border-style:dotted;
  border-right:inherit;
}

.testimonials-clean p {
  color:#4b4c4d; /*Abbey*/
}

.testimonials-clean h2 {
  margin-bottom:40px;
  padding-top:40px;
  color:inherit;
}

.testimonials-clean .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto;
}

.testimonials-clean .intro p {
  margin-bottom:0;
}

.testimonials-clean .people {
  padding:50px 0 20px;
}

.testimonials-clean .item {
  margin-bottom:32px;
}

.testimonials-clean .item .box {
  padding:30px;
  background-color:#fff; /*white*/
  position:relative;
}

.testimonials-clean .item .box:after {
  content:'';
  position:absolute;
  left:30px;
  bottom:-24px;
  width:0;
  height:0;
  border:15px solid transparent;
  border-width:12px 15px;
  border-top-color:#fff; /*white*/
}

.testimonials-clean .item .author {
  margin-top:28px;
  padding-left:25px;
}

.testimonials-clean .item .name {
  font-weight:bold;
  margin-bottom:2px;
  color:inherit;
}

.testimonials-clean .item .title {
  font-size:13px;
  color:#9da9ae; /*Hit Gray*/
}

.testimonials-clean .item .description {
  font-size:15px;
  margin-bottom:0;
}

.testimonials-clean .item img {
  max-width:40px;
  float:left;
  margin-right:12px;
  margin-top:-5px;
}

/* Footer*/
.contact {
  margin-bottom:30px;
}

footer {
  padding:50px 0;
}

p.copyright {
  background-color:rgba(1,1,4,0.25);
}

.footer-basic {
  padding:40px 0;
  background-color:#241858; /*Valhalla*/
  color:#ffffff; /*white*/
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc; /*Silver*/
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa; /*Silver Chalice*/
  margin-bottom:0;
}